[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "==1.42.2"

[dev-packages]
pytest = "==9.0.1"
pytest-cov = "==7.0.0"
moto = "==5.1.18"

[requires]
python_version = "3.12"
